#! /bin/bash
sudo apt-get update
sudo apt-get -y install shadowsocks-libev
sudo cat > /etc/shadowsocks-libev/config.json << EOFF
${ config }
EOFF
sudo /etc/init.d/shadowsocks-libev start
sudo /etc/init.d/shadowsocks-libev restart
# service shadowsocks_libev start